<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        <h1>Projects "project.name"</h1>
                 
        
		<form action="/api/project/" method="DELETE" accept-charset="utf-8">
    		Name: 
    		<input type="text" name="name" value="project"/>      				
    		<input type="submit" value="Delete"/>
		</form>

		

    </body>
</html>